<section id="todos" class="<%= list_class(@list) %>">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li><a class="edit" href="/lists/<%= params[:id] %>/edit">Edit List</a></li>
      <li>
        <form action="/lists/<%= @id %>/complete_all" method="post">
        <button class="check" type="submit" value="true">Complete All</button>
        </form>
      </li>
    </ul>
  </header>

  <ul> 
    <% sort_todos(@list[:todos]) do |todo_item| %>
      <li class="<%= 'complete' if todo_item[:completed] %>">
        <form action="/lists/<%= @id %>/todos/<%= todo_item[:id] %>" method="post" class="check">
          <input type="hidden" name="completed" value="<%= !todo_item[:completed] %>" />
          <button type="submit">Complete</button>
      </form>

        <h3><%= todo_item[:name] %></h3>
        <form action="/lists/<%= @id %>/delete_todo/<%= todo_item[:id] %>" method="post" class="delete">
        <button type="submit">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>
</section>

<form action="/lists/<%= @id %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" id="todo" placeholder="Something to do" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>

<% content_for :header_links do %>
  <a class="list" href="/lists">All Lists</a>
<% end %>