<% @title = "Index" %>

<ul>
  <% @files.each do |file| %>
    <% unless file == "users.yml" && !signed_in_as_admin? %>
      <li> 
        <a href="/data/<%= file %>"><%= file %></a>
        <a href="/data/<%= file %>/edit">Edit</a>
        <form action="/data/<%= file %>/delete" method="post" style="display:inline">
        <button type="submit" onclick="return confirm('Delete <%= file %>?')">Delete</button>
        </form>
        <% end %>
      </li>
  <% end %>
</ul>

<p><a href="/new_file">New File</a></p>
<% if session[:username] == "admin" %>
    </p><em>Signed in as <%= session[:username] %></em></p>
    <form action="/sign_out" method="post" style="display:inline">
    <button type="submit" onclick="return confirm('Sign out?')">Sign Out</button>
    </form>
<% else %>
    <form action="/sign_in" method="get" style="display:inline">
    <button type="submit">Sign In</button>
    </form>
<% end %>