<h2 class="content-subhead"><%= @user_name.capitalize %></h2>

<h2 class="content-subhead"><%= "Email Address: #{@user_email}" %></h2>


<h2 class="content-subhead"><%= "Interests: #{@user_interests.join(", ")}" %></h2>

<h2 class="content-subhead"><%= "Other users:"%></h2>
<ul>
  <% @other_users.each do |name| %>
    <li>
      <a href="/user/<%= name %>"><%= name.to_s.capitalize %></a>
    </li>
  <% end %>
</ul>



